.store {
  max-width: 960px;
  margin-top: 50px;
}

.button.material-icons {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  border: none;
}

.to-cart {
  border: #118f21 solid 3px;
  border-radius: 20px;
  color: #118f21;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 10px;
  cursor: pointer;
}

.to-cart:hover {
  background-color: white;
}

.name {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.price {
  font-weight: 700;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.shop-card {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  background: center no-repeat;
  background-size: cover;
  margin: 0 10px 20px;
}

.shop-card .wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.shop-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #f5f5f5;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.shop-item .image {
  width: 100px;
  height: 65px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover
}